.abth2{
    font-size: 1.5rem;
    color: #424242;
    line-height: 1.5;
}

.abt-para{
    font-size: 1rem;
    color: #424242;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
}

.heading{
    padding: 6.25rem 0;
}

.abt-p{
    padding: 5rem 8.5rem;
}

.abt-link{
    text-decoration: none;
    color: #387ed1;
}

.abt-link:hover{
    color: #424242;
}